$header-height: 78px;

.SiteHeader{	
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;

	> .container{
		height: 100%;
		position: relative;
	}

	&-logo{
		display: inline-block;
	}

	@include MQ(M){
		background-color: $black;
		height: $header-height;

		&-logo{
			display: inline-block;
			margin-top: 16px;
			width: 206px;

			img{
				width: 100%;
			}
		}
	}
}

.Menu{
	
	@include MQ(M){
			display: inline-block;
			height: 100%;
			position: absolute;
			right: 0;
			top: 0;
			width: 490px;

		a{
			color: $white;
			font-family: $helvetica-light;
			font-size: 18px;
			height: 78px;
			letter-spacing: 2px;
			position: relative;
			text-decoration: none;

			&::after{
				@include transition(all, .4s, linear);

				background-color: $yellow;
				bottom: -8px;
				content: "";
				display: block;
				height: 1px;
				left: -10px;
				position: absolute;
				width: 100%;
				opacity: 0;
				visibility: hidden;
			}
		}

		li{
			cursor: pointer;
			display: table-cell;
			text-align: center;
			vertical-align: middle;

			&.has-children{
				position: relative;

				&:hover{
					.Menu-dropdown{
						opacity: 1;
						visibility: visible;
						z-index: 2;
					}
				}
			}
		}

		&-list{
			display: table;
			height: 100%;
			margin: 0;
			padding: 0;
			table-layout: fixed;
			width: 100%;

			> li{
				&:hover{
					> a{
						&::after{
							opacity: 1;
							left: 0;
							visibility: visible;
						}
					}
				}
			}
		}

		&-dropdown{
			@include transition(all, .4s, linear);

			background-color: $black;
			left: 0;
			opacity: 0;
			padding: 0;
			position: absolute;
			top: $header-height;
			visibility: hidden;
			width: 200px;

			li, a{
				display: block;
				text-align: left;
			}
		}
	}
}