@charset "UTF-8";
/* Responsive Breakpoints
   ========================================================================== */
/* Sub-section comment block
   ========================================================================== */
/* Usage */
div.logo {
  background: url("logo.png") no-repeat; }
  @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
    div.logo {
      /* on retina, use image that's scaled by 2 */
      background-image: url("logo2x.png");
      background-size: 100px 25px; } }

/* Clearfix
  ========================================================================== */
/* Usage */
.article {
  *zoom: 1; }
.article:before, .article:after {
  content: "";
  display: table; }
.article:after {
  clear: both; }

/* Box Model
  ========================================================================== */
/* Usage */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Border Radius
  ========================================================================== */
/* Usage */
.button {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }

.submit-button {
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  background-clip: padding-box; }

/* Opacity
  ========================================================================== */
/* Usage */
.article-heading {
  opacity: 0.8;
  filter: alpha(opacity=80); }

/* Center-align a block level element
  ========================================================================== */
/* Usage */
.footer-wrap {
  width: 450px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

/* Text overflow
  ========================================================================== */
/* Usage */
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

/* Absolute positioned
  ========================================================================== */
/* Usage */
.abs {
  top: 10px;
  right: 10px;
  bottom: 5px;
  left: 15px;
  position: absolute; }

/* Font Size
  ========================================================================== */
/* Usage */
body {
  font-size: 16px;
  font-size: 2rem; }

/* Cross browser inline block
  ========================================================================== */
/* Usage */
.icon {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline; }

/* Text replacement (instead of text-indent)
  ========================================================================== */
/* Usage */
.header h1 {
  border: 0;
  color: transparent;
  font: 0/0 a;
  text-shadow: none; }

/* Line Height
  ========================================================================== */
/* Usage */
body {
  line-height: 16px;
  line-height: 2rem; }

/* Placeholder
  ========================================================================== */
/* COLORS */
/* FONTS */
@font-face {
  font-family: 'Arvo';
  src: url("../fonts/Arvo/Arvo.eot");
  src: url("../fonts/Arvo/Arvo.eot?#iefix") format("embedded-opentype"), url("../fonts/Arvo/Arvo.woff2") format("woff2"), url("../fonts/Arvo/Arvo.woff") format("woff"), url("../fonts/Arvo/Arvo.ttf") format("truetype"), url("../fonts/Arvo/Arvo.svg#montserratregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Arvo Bold';
  src: url("../fonts/Arvo Bold/Arvo Bold.eot");
  src: url("../fonts/Arvo Bold/Arvo Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Arvo Bold/Arvo Bold.woff2") format("woff2"), url("../fonts/Arvo Bold/Arvo Bold.woff") format("woff"), url("../fonts/Arvo Bold/Arvo Bold.ttf") format("truetype"), url("../fonts/Arvo Bold/Arvo Bold.svg#montserratregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'HelveticaNeueLTStd-Roman';
  src: url("../fonts/Helvetica Neue Regular/HelveticaNeueLTStd-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/Helvetica Neue Regular/HelveticaNeueLTStd-Roman.otf") format("opentype"), url("../fonts/Helvetica Neue Regular/HelveticaNeueLTStd-Roman.woff") format("woff"), url("../fonts/Helvetica Neue Regular/HelveticaNeueLTStd-Roman.ttf") format("truetype"), url("../fonts/Helvetica Neue Regular/HelveticaNeueLTStd-Roman.svg#HelveticaNeueLTStd-Roman") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Helvetica Neue Light';
  src: url("../fonts/Helvetica Neue Light/Helvetica Neue Light.eot");
  src: url("../fonts/Helvetica Neue Light/Helvetica Neue Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Helvetica Neue Light/Helvetica Neue Light.woff2") format("woff2"), url("../fonts/Helvetica Neue Light/Helvetica Neue Light.woff") format("woff"), url("../fonts/Helvetica Neue Light/Helvetica Neue Light.ttf") format("truetype"), url("../fonts/Helvetica Neue Light/Helvetica Neue Light.svg#montserratregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Helvetica Neue Thin';
  src: url("../fonts/Helvetica Neue Thin/Helvetica Neue Thin.eot");
  src: url("../fonts/Helvetica Neue Thin/Helvetica Neue Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Helvetica Neue Thin/Helvetica Neue Thin.woff2") format("woff2"), url("../fonts/Helvetica Neue Thin/Helvetica Neue Thin.woff") format("woff"), url("../fonts/Helvetica Neue Thin/Helvetica Neue Thin.ttf") format("truetype"), url("../fonts/Helvetica Neue Thin/Helvetica Neue Thin.svg#montserratregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'NexaSlab Regular';
  src: url("../fonts/NexaSlab Regular/NexaSlab Regular.eot");
  src: url("../fonts/NexaSlab Regular/NexaSlab Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/NexaSlab Regular/NexaSlab Regular.woff2") format("woff2"), url("../fonts/NexaSlab Regular/NexaSlab Regular.woff") format("woff"), url("../fonts/NexaSlab Regular/NexaSlab Regular.ttf") format("truetype"), url("../fonts/NexaSlab Regular/NexaSlab Regular.svg#montserratregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'NexaSlab Bold';
  src: url("../fonts/NexaSlab Bold/NexaSlab Bold.eot");
  src: url("../fonts/NexaSlab Bold/NexaSlab Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/NexaSlab Bold/NexaSlab Bold.woff2") format("woff2"), url("../fonts/NexaSlab Bold/NexaSlab Bold.woff") format("woff"), url("../fonts/NexaSlab Bold/NexaSlab Bold.ttf") format("truetype"), url("../fonts/NexaSlab Bold/NexaSlab Bold.svg#montserratregular") format("svg");
  font-weight: normal;
  font-style: normal; }
/* BOT├òES */
.Button, .Button--arrow, .Button--submit {
  border-radius: 30px;
  border: 2px solid #19181d;
  color: #0d0c0f;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue Light";
  font-size: 24px;
  height: 62px;
  line-height: 58px;
  padding-bottom: 0;
  padding-top: 0;
  position: relative;
  text-decoration: none;
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .Button, .Button--arrow, .Button--submit {
      width: auto; } }
  .Button--arrow, .Button--submit {
    padding: 0 85px 0 65px; }
    .Button--arrow::after, .Button--submit::after {
      top: 50%;
      bottom: auto;
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      background-image: url("../img/icons/arrow-button.svg");
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: contain;
      content: "";
      height: 22px;
      position: absolute;
      right: 12%;
      width: 22px; }
  .Button--submit {
    background-color: #19181d;
    color: #fddb03;
    font-family: "Raleway";
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    text-align: center;
    text-transform: uppercase; }
    .Button--submit::after {
      background-image: url("../img/icons/arrow-button-yellow.svg"); }
    @media only screen and (min-width: 768px) {
      .Button--submit {
        float: right;
        width: 182px; } }

/* HEADINGS */
h1, h2, h3, h4, h5 {
  color: #19181d;
  font-family: "Arvo";
  font-weight: 500;
  line-height: 1.3;
  margin: 0; }

h2 {
  margin-bottom: 30px; }

/* TEXT */
p {
  font-size: 24px;
  line-height: 36px;
  margin: 0 0 30px 0; }

/* FORM */
input[type="text"], input[type="email"], input[type="tel"], textarea {
  -webkit-transition: box-shadow, 0.35s, linear;
  -moz-transition: box-shadow, 0.35s, linear;
  -ms-transition: box-shadow, 0.35s, linear;
  transition: box-shadow, 0.35s, linear;
  background-color: transparent;
  border: 1px solid #27241b;
  font-size: 16px;
  padding: 10px 15px;
  margin-bottom: 24px;
  width: 100%; }
  input[type="text"].placeholder, input[type="email"].placeholder, input[type="tel"].placeholder, textarea.placeholder {
    color: #19181d; }
  input[type="text"]:-moz-placeholder, input[type="email"]:-moz-placeholder, input[type="tel"]:-moz-placeholder, textarea:-moz-placeholder {
    color: #19181d; }
  input[type="text"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #19181d; }
  input[type="text"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, input[type="tel"]:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #19181d; }
  input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus, textarea:focus {
    outline: none;
    box-shadow: 1px 1px 5px -1px rgba(25, 24, 29, 0.6); }

textarea {
  resize: none; }

.Form-control {
  position: relative; }
  .Form-control span {
    color: #e82f2f;
    display: none;
    font-size: 24px;
    font-weight: 700;
    position: absolute;
    right: -15px;
    top: -6px; }
  .Form-control.error input[type="text"], .Form-control.error input[type="email"], .Form-control.error input[type="tel"], .Form-control.error textarea {
    border-color: #e82f2f; }
  .Form-control.error span {
    display: inline-block; }

.SiteHeader {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2; }
  .SiteHeader > .container {
    height: 100%;
    position: relative; }
  .SiteHeader-logo {
    display: inline-block; }
  @media only screen and (min-width: 992px) {
    .SiteHeader {
      background-color: #19181d;
      height: 78px; }
      .SiteHeader-logo {
        display: inline-block;
        margin-top: 16px;
        width: 206px; }
        .SiteHeader-logo img {
          width: 100%; } }

@media only screen and (min-width: 992px) {
  .Menu {
    display: inline-block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 490px; }
    .Menu a {
      color: #ffffff;
      font-family: "Helvetica Neue Light";
      font-size: 18px;
      height: 78px;
      letter-spacing: 2px;
      position: relative;
      text-decoration: none; }
      .Menu a::after {
        -webkit-transition: all, 0.4s, linear;
        -moz-transition: all, 0.4s, linear;
        -ms-transition: all, 0.4s, linear;
        transition: all, 0.4s, linear;
        background-color: #fddb03;
        bottom: -8px;
        content: "";
        display: block;
        height: 1px;
        left: -10px;
        position: absolute;
        width: 100%;
        opacity: 0;
        visibility: hidden; }
    .Menu li {
      cursor: pointer;
      display: table-cell;
      text-align: center;
      vertical-align: middle; }
      .Menu li.has-children {
        position: relative; }
        .Menu li.has-children:hover .Menu-dropdown {
          opacity: 1;
          visibility: visible;
          z-index: 2; }
    .Menu-list {
      display: table;
      height: 100%;
      margin: 0;
      padding: 0;
      table-layout: fixed;
      width: 100%; }
      .Menu-list > li:hover > a::after {
        opacity: 1;
        left: 0;
        visibility: visible; }
    .Menu-dropdown {
      -webkit-transition: all, 0.4s, linear;
      -moz-transition: all, 0.4s, linear;
      -ms-transition: all, 0.4s, linear;
      transition: all, 0.4s, linear;
      background-color: #19181d;
      left: 0;
      opacity: 0;
      padding: 0;
      position: absolute;
      top: 78px;
      visibility: hidden;
      width: 200px; }
      .Menu-dropdown li, .Menu-dropdown a {
        display: block;
        text-align: left; } }

.Banner, .Banner--arrow {
  position: relative; }
  .Banner-content {
    padding-top: 10%; }
    @media only screen and (min-width: 768px) {
      .Banner-content {
        padding-top: 10%; } }
    @media only screen and (min-width: 992px) {
      .Banner-content {
        padding-top: 15%; } }
    @media only screen and (min-width: 1200px) {
      .Banner-content {
        padding-top: 20%; } }
  .Banner-title {
    color: #000000;
    display: inline-block;
    font-family: "Arvo";
    font-size: 60px;
    line-height: 1.2;
    margin-bottom: 5%;
    padding: 6px 25px 8px 20px; }
  .Banner-title, .Banner p, .Banner--arrow p {
    background-color: #fddb03; }
  .Banner p, .Banner--arrow p {
    display: table;
    margin-bottom: 5px;
    font-size: 36px;
    line-height: 1;
    padding: 14px 8px 6px 18px; }
  .Banner .i-mouse, .Banner--arrow .i-mouse {
    left: 50%;
    right: auto;
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
    bottom: 75px; }
  .Banner--arrow::after {
    left: 50%;
    right: auto;
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-bottom: 32px solid #fddb03;
    border-left: 28px solid transparent;
    border-right: 28px solid transparent;
    bottom: 0;
    content: "";
    display: inline-block;
    height: 0;
    position: absolute;
    width: 0; }

/* SideMenu */
.SideMenu {
  top: 50%;
  bottom: auto;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  right: 30px;
  height: 100%;
  width: 50px; }

.ButtonGrid {
  cursor: pointer;
  height: 50px;
  position: absolute;
  right: 0;
  top: calc(50% - 155px);
  width: 50px; }
  .ButtonGrid.open span {
    background: white;
    border-radius: 0;
    border: 0;
    height: 4px;
    left: 0;
    position: absolute;
    width: 16px; }
    .ButtonGrid.open span:nth-child(1), .ButtonGrid.open span:nth-child(4) {
      -moz-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
      transform: rotate(-135deg); }
    .ButtonGrid.open span:nth-child(2), .ButtonGrid.open span:nth-child(3) {
      -moz-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg); }
    .ButtonGrid.open span:nth-child(1), .ButtonGrid.open span:nth-child(2) {
      top: 13px; }
    .ButtonGrid.open span:nth-child(1), .ButtonGrid.open span:nth-child(3) {
      left: 10px; }
    .ButtonGrid.open span:nth-child(3), .ButtonGrid.open span:nth-child(4) {
      top: 24px; }
    .ButtonGrid.open span:nth-child(2), .ButtonGrid.open span:nth-child(4) {
      left: 22px; }
  .ButtonGrid span {
    -webkit-transition: all, 0.3s, linear;
    -moz-transition: all, 0.3s, linear;
    -ms-transition: all, 0.3s, linear;
    transition: all, 0.3s, linear;
    border-color: white;
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
    display: inline-block;
    height: 22px;
    margin: 0;
    position: absolute;
    width: 22px; }
    .ButtonGrid span:nth-child(1), .ButtonGrid span:nth-child(2) {
      top: 0; }
    .ButtonGrid span:nth-child(1), .ButtonGrid span:nth-child(3) {
      margin-left: 0; }
    .ButtonGrid span:nth-child(1), .ButtonGrid span:nth-child(3) {
      left: 0; }
    .ButtonGrid span:nth-child(2), .ButtonGrid span:nth-child(3) {
      bottom: 0;
      margin-right: 0; }
    .ButtonGrid span:nth-child(4) {
      bottom: 0; }
    .ButtonGrid span:nth-child(2), .ButtonGrid span:nth-child(4) {
      right: 0; }

.ButtonList {
  cursor: pointer;
  display: block;
  height: 44px;
  position: absolute;
  right: 0;
  top: calc(50% + 100px);
  width: 50px; }
  .ButtonList span {
    -webkit-transition: all, 0.4s, linear;
    -moz-transition: all, 0.4s, linear;
    -ms-transition: all, 0.4s, linear;
    transition: all, 0.4s, linear;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    border-color: white;
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
    display: inline-block;
    height: 12px;
    position: absolute;
    width: 50px; }
    .ButtonList span::before, .ButtonList span::after {
      -webkit-transition: all, 0.4s, linear;
      -moz-transition: all, 0.4s, linear;
      -ms-transition: all, 0.4s, linear;
      transition: all, 0.4s, linear;
      border-color: white;
      border-radius: 3px;
      border-style: solid;
      border-width: 2px;
      content: "";
      display: block;
      height: 12px;
      left: -2px;
      position: absolute;
      width: 50px; }
    .ButtonList span::before {
      top: -18px; }
    .ButtonList span::after {
      top: 14px; }
  .ButtonList.open span {
    border-color: transparent; }
    .ButtonList.open span::before, .ButtonList.open span::after {
      background-color: white;
      border: 0;
      height: 4px;
      left: 8px;
      top: 2px;
      width: 32px; }
    .ButtonList.open span::before {
      transform: rotate(135deg); }
    .ButtonList.open span::after {
      transform: rotate(-135deg); }

.postNavButton {
  top: 50%;
  bottom: auto;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #fddb03;
  display: inline-block;
  height: 150px;
  position: absolute;
  width: 130px;
  z-index: 1; }
  .postNavButton::before {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-image: url("../img/ico-right.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: block;
    height: 82px;
    position: absolute;
    width: 40px; }
  .postNavButton.next {
    right: 0; }
  .postNavButton.prev {
    -moz-transform: scaleX(-1) translateY(-50%);
    -o-transform: scaleX(-1) translateY(-50%);
    -ms-transform: scaleX(-1) translateY(-50%);
    -webkit-transform: scaleX(-1) translateY(-50%);
    transform: scaleX(-1) translateY(-50%);
    left: 0; }

/*  CASE CONTENT */
.Case h4 {
  font-size: 72px; }
.Case h5 {
  font-size: 60px;
  line-height: 1.1;
  margin-bottom: 60px; }
.Case-sobre p {
  margin-bottom: 0; }
.Case-cenario {
  position: relative;
  overflow: hidden; }
  .Case-cenario > .container-fluid {
    display: flex; }
  .Case-cenario .i-asterisco {
    bottom: -30px;
    left: -80px;
    position: absolute;
    width: 70%; }
  .Case-cenario h4 {
    position: absolute;
    right: 60px;
    top: 65px; }
  .Case-cenario .col-md-6:first-child {
    background-color: #fddb03; }
  .Case-cenario .col-md-6:last-child {
    background-color: #f4f4f4;
    padding: 10vw 6vw;
    position: relative; }
    .Case-cenario .col-md-6:last-child::before {
      background-color: #f4f4f4;
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      right: -100vw;
      top: 0;
      width: 100vw; }
    .Case-cenario .col-md-6:last-child p {
      font-size: 24px;
      line-height: 34px;
      width: 80%; }
.Case-desafio h4 {
  margin-bottom: 70px; }
.Case-desafio p {
  font-size: 24px;
  line-height: 34px; }
.Case-desafio .col-md-5:last-child {
  padding-top: 80px;
  font-family: "NexaSlab Regular";
  font-size: 36px;
  line-height: 60px; }

.CasePremios {
  background-color: #fddb03;
  padding: 65px 0 55px;
  text-align: center;
  overflow: hidden;
  position: relative; }
  .CasePremios .i-asterisco {
    left: 50%;
    right: auto;
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 864px;
    left: 52%;
    position: absolute;
    top: -176px;
    width: 864px; }

.ListaPremios {
  margin: 0;
  padding: 0;
  list-style: none; }
  .ListaPremios li {
    display: inline-block;
    margin: 0 15px; }
  .ListaPremios img {
    display: block;
    margin: 0 auto 10px; }
  .ListaPremios p {
    font-family: "Arvo";
    font-size: 23px;
    text-align: center;
    text-transform: uppercase; }

/* ICONS */
.i-mouse {
  background-image: url("../img/icons/mouse.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 106px;
  width: 64px; }

.i-triangle {
  border-bottom: 40px solid transparent;
  border-left: 52px solid #fddb03;
  border-top: 40px solid transparent;
  height: 0;
  position: absolute;
  right: -52px;
  top: 12%;
  width: 0;
  z-index: 1; }

/* UTILITY */
.u-galaxy, .u-galaxy--bigBottom {
  background-image: url("../img/bg-galaxy.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 75px 0 65px; }
  .u-galaxy--bigBottom {
    padding: 55px 0 210px; }

.u-lineBreak {
  display: none; }
  @media only screen and (min-width: 992px) {
    .u-lineBreak {
      display: block; } }

body {
  background-color: #fddb03;
  display: flex;
  color: #19181d;
  flex-direction: column;
  font-family: "Helvetica Neue Light";
  min-height: 100vh; }

img {
  max-width: 100%; }

.hidden {
  display: none !important; }

.SiteContent {
  flex: 1;
  margin-top: 78px;
  z-index: 1; }

#particles-js canvas {
  left: 0px;
  position: fixed;
  top: 78px;
  z-index: 0; }

/* Slider */
.Slider-logo {
  display: block;
  margin: 12% auto 10%;
  max-width: 850px;
  width: 75%; }
.Slider-item {
  position: relative;
  text-align: center; }
.Slider .Button--arrow, .Slider .Button--submit {
  margin-top: 5%; }
.Slider h2 {
  font-size: 81px; }

.Banner, .Banner--arrow {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 78px); }

/* Slider-nav */
.slick-prev, .slick-next {
  -webkit-transition: scale, 0.5s, linear;
  -moz-transition: scale, 0.5s, linear;
  -ms-transition: scale, 0.5s, linear;
  transition: scale, 0.5s, linear;
  background-color: transparent;
  background-image: url("../img/icons/arrow.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  color: transparent;
  cursor: pointer;
  display: inline-block;
  height: 82px;
  position: absolute;
  width: 44px;
  top: calc(50% - 41px); }
  .slick-prev:hover, .slick-next:hover {
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05); }
  .slick-prev:focus, .slick-next:focus {
    outline: none; }

.slick-next {
  right: 28px; }

.slick-prev {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  left: 28px; }
  .slick-prev:hover {
    -moz-transform: scaleX(-1) scale(1.05);
    -o-transform: scaleX(-1) scale(1.05);
    -ms-transform: scaleX(-1) scale(1.05);
    -webkit-transform: scaleX(-1) scale(1.05);
    transform: scaleX(-1) scale(1.05); }

/* Section */
.Section, .Section--small {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 160px 0 240px;
  margin-bottom: 200px; }
  .Section--small {
    padding: 130px 0 100px; }

/* Cases */
#Cases {
  background-image: url("../img/bg-dog.jpg"); }
  #Cases h2 {
    font-size: 60px; }

/* Credenciais */
#Credenciais {
  background-image: url("../img/bg-tree.jpg"); }
  #Credenciais h2 {
    font-size: 72px;
    margin-bottom: 60px; }
  #Credenciais p {
    line-height: 34px; }
  #Credenciais .Button--arrow, #Credenciais .Button--submit {
    margin-top: 70px; }

/* Contato */
#Contato {
  background-image: url("../img/bg-kids.jpg");
  margin-bottom: 0; }
  #Contato .RedesSociais {
    margin-top: 160px; }
  #Contato h2 {
    font-size: 58px; }
  #Contato p {
    font-size: 22px;
    line-height: 1.2;
    margin-bottom: 10px; }
  #Contato form {
    *zoom: 1; }
  #Contato form:before, #Contato form:after {
    content: "";
    display: table; }
  #Contato form:after {
    clear: both; }

.RedesSociais {
  margin-left: -25px; }
  .RedesSociais ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .RedesSociais a {
    display: inline-block; }
  .RedesSociais li {
    display: inline-block;
    margin: 0 6px; }
    .RedesSociais li:nth-child(1):hover svg {
      fill: #3b5998; }
    .RedesSociais li:nth-child(2):hover svg {
      fill: #1da1f2; }
    .RedesSociais li:nth-child(3):hover svg path.yt-red {
      fill: #e62117; }
    .RedesSociais li:nth-child(4):hover path, .RedesSociais li:nth-child(4):hover polygon {
      fill: #d44739; }
  .RedesSociais svg {
    -webkit-transition: fill, 0.2s, linear;
    -moz-transition: fill, 0.2s, linear;
    -ms-transition: fill, 0.2s, linear;
    transition: fill, 0.2s, linear;
    max-height: 50px; }
  .RedesSociais path, .RedesSociais polygon {
    -webkit-transition: fill, 0.2s, linear;
    -moz-transition: fill, 0.2s, linear;
    -ms-transition: fill, 0.2s, linear;
    transition: fill, 0.2s, linear; }

.SiteFooter {
  background-color: #000000;
  height: 80px;
  z-index: 1; }
  .SiteFooter {
    *zoom: 1; }
  .SiteFooter:before, .SiteFooter:after {
    content: "";
    display: table; }
  .SiteFooter:after {
    clear: both; }
  .SiteFooter small, .SiteFooter img {
    margin-top: 25px; }
  .SiteFooter small {
    color: #ffffff;
    display: inline-block;
    float: left;
    font-size: 12px; }
  .SiteFooter img {
    display: inline-block;
    float: right;
    height: 36px; }

#map {
  height: 670px; }

/*# sourceMappingURL=ccz.css.map */
